!!!
%html
  %head
    %link{:rel => :stylesheet, :type => "text/css", :href => "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"}
    %link{:rel => :stylesheet, :type => "text/css", :href => "/css/style.css"}
    %link{:rel => :stylesheet, :type => "text/css", :href => "/css/multi-select.css"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    %script{:src => "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"}
    %script{:src => "/js/multi-select.js"}
    %script{:src => "/js/app.js"}
    %title Crontab Generator
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %a.navbar-brand Crontab Generator
    .container.main
      %form.form{:action => "/", :method => "post"}

        .form-group
          %label{:for => "minute"} Minute
          %select.multiselect{:multiple => "multiple", :name => "minute[]", :size => 10, :style => "width: 50px"}
            -(1..60).each do |m|
              %option{:value => m}
                =m

        .form-group
          %label{:for => "hour"} Hour of the day
          %select.multiselect#hour{:multiple => true, :name => "hour[]", :size => 10, :style => "width: 50px"}
            -(1..24).each do |m|
              %option{:value => m}
                =m

        .form-group
          %label{:for => "day_of_month"} Day of the month
          %select.multiselect#day_of_month{:multiple => true, :name => "day_of_month[]", :size => 10, :style => "width: 50px"}
            -(1..31).each do |m|
              %option{:value => m}
                =m

        .form-group
          %label{:for => "month"} Month
          %select.multiselect#month{:multiple => true, :name => "month[]", :size => 10, :style => "width: 50px"}
            -(1..12).each do |m|
              %option{:value => m}
                =m

        .form-group
          %label{:for => "day_of_week"} Day of the week
          %select.multiselect#day_of_week{:multiple => true, :name => "day_of_week[]", :size => 10, :style => "width: 50px"}
            -(1..7).each do |m|
              %option{:value => m}
                =m

        .form-group
          %label{:for => "command"} Command to execute
          %input#command{:type => "text", :name => "command"}

        %input.btn{:type => "submit", :value => "Submit"}
        =@crontab